---
# leave this front matter block in place
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  background: #0d121b !important;
}

.site-header,
.site-footer,
.page-content {
  background: transparent !important;
}

body, .post-title, .site-title, .page-link {
  color: #d8dee9 !important;
}

.site-header { border: 0 !important; box-shadow: none !important; }

body, .post-title, .site-title, .page-link { color: #d8dee9 !important; }
